<a href="https://colab.research.google.com/github/Badrivenkat845/jntua/blob/master/day_09(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Adding links to markdown***
[site]https://www.iitm.ac.in/

### inserting image
![text](https://img.etimg.com/thumb/width-640,height-480,imgsize-261453,resizemode-1,msid-73155740/iit-madras-alumni-donates-rs-1-crore-for-robotics-research-laboratory.jpg)

In [1]:
print("Hello world!")

Hello world!

In [3]:
#Variable creation
print("hello , jntua")
print("hello , jntua", "chemical","cse")

hello , jntua
hello , jntua chemical cse

In [7]:
n1=100 #single variable assignment
print(n1)
a = b = c = 100 # multi variable assignment
print(a,b,c)
a1,b1,c1=100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
100 100 100
100 200 300

Data types and conversions

In [9]:
a = 100
s1 = 10.2 
s2= "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
i = 100
print(type(i))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

#length

In [12]:
a=123456
print(len(str(a)))

6

Reading input from user--input function

In [13]:
a=input("enter your name:")
print(a)
print(type(a))

enter your name:badri
badri
<class 'str'>

In [15]:
b=int(input("enter your AGE:"))
print(b)
print(type(b))

enter your AGE:20
20
<class 'int'>

 
 #operators:
 Operator is a symbol used to perform a specific kind of operation
# Arithmetic operator
- +
- -
-*
-/
-%
-//

In [18]:
a= 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# relational operators
- =
- ==
- !=
- <
- >
- <=
- >=

In [22]:
x=10
a1=x>15
print(a1)

False

Logical operators
- and
- or
- not

In [23]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) and (i>800)
print(a1)
print(a2)

True
False

In [24]:
i=100
a1=(i>15) or (i<800)
a2=(i>15) or (i>800)
print(a1)
print(a2)

True
True

In [25]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

#Control flow statements
- conditional statements
- loop statements

# if else statement
## syntax
# if Boolean_condition
#statements
#else:
statements

In [33]:
# to check a given number is even or odd
n = int(input("enter a number"))
if n%2 == 0 :
 print(n,"is an even number")
else:
 print(n, "is an odd number")

enter a number812
812 is an even number

In [38]:
# to check a given number is a multiple of 3 and 5
n = int(input("Enter a given number"))
if n%3 == 0 and n%5 == 0 :
   print(n, "a multiple of 3 and 5")
else:
   print(n, "not a multiple of 3 and 5")

Enter a given number30
30 a multiple of 3 and 5

In [48]:
# to check a given number is positive or negative or 0
n=int(input("enter a number"))
if n>0 :
  print(n,"a positive number")
elif n<0 :
  print(n, "negative")
else :
  print(n,"is zero")

enter a number-20
-20 negative

#find the largest number among the 3 given numbers

In [58]:
# to check which is the largest among the 3 given numbers
a= int(input("enter a number"))
b= int(input("enter a number"))
c= int(input("enter a number"))
if (a>b and a>c) :
 print("a is the greatest")
elif (b>a and b>c) :
 print("b is the greatest")
else :
 print("c is the greatest")

enter a number45
enter a number40
enter a number85
c is the greatest