<a href="https://colab.research.google.com/github/Badrivenkat845/jntua/blob/master/DAY_10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
- WHILE LOOP
- FOR LOOP

In [1]:
# PRINT NUMBERS FROM 1 TO N
n= int(input("enter a given number:"))
i=1
while i <=n :
  print(i, end=" ")
  i=i+1

enter a given number:20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

#PRINT THE SUM OF EVEN NUMBERS

In [22]:
n= int(input("enter a given number:"))
i=2
sum=0
while i<=n :
  sum = sum+i
  i=i+2
print(sum)

enter a given number:12
42

# PRINT THE PALINDROME NUMBER
#input 123
#output 321

In [21]:
n=int(input("enter a given number:"))
i=n
rem=0
num=0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
print(num)

enter a given number:845
548

#functional programming
- simple
- easy to understand
- better reuseability
- lengthy program will be subdivided into subprograms

In [0]:
def nameofthefunction (<parameter>)
statements
return

In [39]:
# PRINT SUM OF EVEN NUMBERS IN A GIVEN NUMBER
def sumofevendigits(n) :
  s = 0
  while n!= 0 :
    r= n%10
    if r%2==0:
      s=s+r
    n=n//10
  return s
sumofevendigits(1234)

6

# find the largest digit in a given number

In [47]:
def large(n):
  prev=0
  next=0
  while (n!=0) :
    prev=next
    next=n%10
    if(prev>next):
      next=prev
    n=n//10
  return next
large(12345)

5

# for loop

In [0]:
# syntax
for in range(start,stop,step):
statements

# BY USING FUNCTION PRINT THE NUMBERS BETWEEN THE TWO GIVEN NUMBERS

In [54]:
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i, end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [64]:
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries(500,521)

500 504 508 512 516 520

#COLLECTION TYPES
- LIST
-TUPLE
-DICTIONARY

#list:
- one of the data structures in python
- Data structure means to store , sort and search options
- it is one common data structure in python , the items of list are seperated by commas and enclosed by square brackets.
-in list values can be changed
- ex:
- list1=[1,2,3,4,5]
-list=["jntua", "DASD", "asds"]

In [76]:
li=[1,4,3,2]
print(li)
print(li[2:])

[1, 4, 3, 2]
[3, 2]

In [66]:
print(li[2])

3

In [73]:
print(li[-2])

3

In [78]:
print(li[-2:])

[3, 2]

In [80]:
print(li[::2])

[1, 3]

In [81]:
# UPDATE LIST
li=["jntua","3","BADRI","845"]
print(li)
li[1]="100"
print(li)

['jntua', '3', 'BADRI', '845']
['jntua', '100', 'BADRI', '845']

In [84]:
# DELETE LIST ITEM
del li[2]
print(li)

['jntua', '100']

In [88]:
# BASIC LIST OPERATIONS
li=[1,2,3,4,5]
print(li*2)
print(4 in li)
print(7 in li )

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

In [0]:
# LIST FUNCTIONS

# LIST FUNCTIONS
- MAX
- MIN
- SUM
- APPEND
- INSERT
- COUNT
- INDEX
- SORT
- POP

In [0]:
li=[1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))